*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}

/* ==== NavBar ==== */

nav h1{
  color: white;
  position:absolute;
  top: 15px;
  left: 10px;
}

ul li{
  color: white;
  list-style-type: none;
  margin: 20px;
}

ul{
  background-color: Black;
  display: flex;
  justify-content: flex-end;
}

/* ==== Article ==== */

section{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

article{
  max-width: 400px;
  margin: 10px;
}
article img{
  max-width: 400px;
}

.description h2{
  text-align: center;
  margin: 10px;
}
